* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #c72f2f;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1em;
  }
  
  nav h1 {
    float: left;
    margin-right: 1em;
  }
  
  nav ul {
    float: right;
    list-style: none;
    display: flex;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    display: block;
  }
  
  main {
    padding: 2em;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 2em;
  }
  
  .image-upload-section {
    display: flex;
    justify-content: space-between;
  }
  
  